@model Web_Library.Models.Author

@{
    ViewBag.Title = "Author Action";
    string controller = ViewBag.Controller;
}

@section background {
    <div id="back-image"></div>
}

@using (Html.BeginForm(controller, "Home"))
{
    <fieldset>
        <legend>@ViewBag.Legend</legend>

        @Html.HiddenFor(m => m.ID)

        <div>
            <label>First Name</label>
            @Html.TextBoxFor(m => m.FName, new { required = "required", maxlength = 50 })
        </div>

        <div>
            <label>Last Name</label>
            @Html.TextBoxFor(m => m.LName, new { required = "required", maxlength = 50 })
        </div>

        <input type="submit" value=@ViewBag.ButtonName />

    </fieldset>
}