@model List<Web_Library.Models.Book>

@{
    ViewBag.Title = "Books";
    var grid = new WebGrid(Model, rowsPerPage: 5, defaultSort: "ID");
}

@section background {
    <div id="back-image"></div>
}

@Html.ActionLink("Back to Navigation", "Index", "Home", new { @class = "to-navigation-button" })
@Html.ActionLink("Add New Book", "BookAction", "Home", new { @class = "to-navigation-button" })

<div id="grid">
    @grid.GetHtml(tableStyle: "table",
        headerStyle: "header",
        fillEmptyRows: true,
        footerStyle: "grid-footer",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        columns: new[]
        {
            grid.Column("Title"),
            grid.Column("AuthorName", "Author"),
            grid.Column("PublishedDate", "Published Date", format: (item) => string.Format("{0:dd.MM.yyyy}", item.PublishedDate)),
            grid.Column("ISBN"),
            grid.Column(format: (item) => Html.ActionLink(
                "Edit",
                "BookAction",
                "Home",
                new {
                    @bookId = item.Id
                },
                null)),
            grid.Column(format: (item) => Html.ActionLink(
                "Delete",
                "BookActionDelete",
                "Home",
                new {
                    @bookId = item.Id
                },
                new { onclick="return confirm('Are you sure you want to delete this book?')" }))
        })
</div>


