@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-6 side" id="left-side">
        @Html.ActionLink(" ", "Index", "Home")
    </div>
    <div class="col-xs-6 side" id="right-side">
        @Html.ActionLink(" ", "Index", "Home")
    </div>
</div>